<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>All Cars</title>
</head>
<body>
    <h1>All Cars</h1>
    <a href="/add_car">Add a New Car</a>
    <table border="1">
        <tr>
            <th>License Plate</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Kilometer</th>
        </tr>
        {% for car in cars %}
        <tr>
            <td>{{ car['license_plate'] }}</td>
            <td>{{ car['brand'] }}</td>
            <td>{{ car['model'] }}</td>
            <td>{{ car['year'] }}</td>
            <td>{{ car['kilometer'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>